body{
  background: #F5F4FB;
}

.App{
  position: relative;
}

.section-title{
  color:#2C4372;
  font-size: 2.1rem;
  margin-bottom: 0;
}

.relative{
  position:relative;
}

.full-width{
  width:100%;
  margin: auto;
}

.thin{
  font-weight:300;
}

.padding0{
  padding:0;
}

.section{
  padding-left: 140px;
  padding-right: 60px;
}

@media (max-width:992px){
  .section{
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-title {
    font-size: 1.8em;
  }
}


@media (max-width:768px){

  .section-title {
    font-size: 1.5em;
  }

  .padding0-movil{
    padding:0;
  }
  
}